@charset "UTF-8";
body{
    background-color: #69EA6C;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #306B31;
}
h1#principal{
    text-align: center;
    background-color: #306B31;
    color: white;
}
.basico{
    color: green;
}
.intermediario{
    color: rgb(241, 241, 87);
}
.avançado{
    color: rgb(201, 61, 61);
}
h2{
    color: #4DAB4E;
}